///////////////////////////////////////
// CUSTOM CSS RESET
///////////////////////////////////////

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	// TEXT-RENDERING
	text-rendering: optimizeLegibility;
	// FONT SMOOTHING
	-webkit-font-smoothing: antialiased;
	// SMOOTH SCROLLING
	scroll-behavior: smooth;
	// BORDER BOX - LETS YOU ADD PADDING AND BORDER TO ELEMENTS WITHOUT INCREASING THEIR SIZE
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	// MOBILE SAFARI - FIXES THE BLINKING EFFECT WHEN A LINK HAS BEEN HIT
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

// REMOVE GAP AT BOTTOM OF IMAGES
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	margin: 0 0 1rem 0;
}

#root,
#__next {
	isolation: isolate;
}

///////////////////////////////////////
// SITE DEFAULTS
///////////////////////////////////////

body {
	// font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-family: "Montserrat", sans-serif;
	font-size: 0.88rem;
	font-weight: 300;
	padding: 0;
	margin: 0 auto;
	// STOP OVERFLOWING ELEMENTS
	overflow-x: hidden;
	// BACKGROUND COLOUR
	background-color: var(--bg);
	// TEXT COLOUR
	color: var(--text);

	@media screen and (min-width: 768px) {
		font-size: 1rem;
	}
}

h2 {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2.5px;
}

h3 {
	font-size: 1.2rem;
	line-height: 1.8;
}

strong {
	font-weight: bold;
}

ol,
ul,
p {
	font-size: 0.88rem;
	font-weight: 300;
	line-height: 1.8;
}

a {
	position: relative;
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		opacity: 1;

		&:before {
			visibility: visible;
			max-width: 100%;
		}
	}

	&:before {
		@media screen and (min-width: 768px) {
			content: "";
			position: absolute;
			bottom: -2px;
			visibility: hidden;
			width: 100%;
			max-width: 0%;
			height: 2px;
			transition: 0.2s ease-in-out;
			background-color: var(--accent);
		}
	}
}

// LISTS
ul,
ol {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 16px;
}

hr {
	margin: 2rem 0;
}

.container {
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
}

.max-width-mid {
	max-width: 768px;
}

.max-width-small {
	max-width: 640px;
}

// FILTER COLOR - USED TO TURN SVG'S WHITE
// USE THIS FOR CONVERTING THE COLOR TO A FILTER VALUE - https://codepen.io/sosuke/pen/Pjoqqp
// IF AN ISN'T BLACK, ADDING brightness(0) saturate(100%) TO THE BEGINNING OF THE LIST OF FILTERS WILL FIRST TURN IT 100% BLACK, WHICH ENABLES THE OTHER FILTERS TO CHANGE IT TO THE CORRECT COLOR
.filter-color {
	filter: brightness(0) saturate(100%) invert(10%) sepia(5%) saturate(5140%) hue-rotate(193deg) brightness(95%) contrast(86%);

	@media (prefers-color-scheme: dark) {
		filter: brightness(0) saturate(100%) invert(34%) sepia(79%) saturate(5445%) hue-rotate(12deg) brightness(95%) contrast(80%);
	}
}

// BG COLOURS
.bg-default {
	background-color: var(--bg);
}

.bg-alt {
	background-color: var(--bg-alt);
}

.bg-moon {
	background-color: #e4e1d7;
}

.bg-red {
	background-color: #ca4b19;
}

.bg-clay {
	background-color: #232635;
}

.bg-mirage {
	background-color: #161825;
}

// TEXT
.text-default {
	color: var(--text);
}

.text-accent {
	color: var(--accent);
}

.text-center {
	text-align: center;
}

// BUTTON
a.btn {
	border: 1px solid var(--text);
	padding: 12px 20px;
	text-decoration: none;
	transition: all 400ms;
	text-transform: uppercase;

	&:hover,
	&:focus {
		background-color: var(--text);
		color: var(--bg);
	}
}

.padding {
	padding: 0 20px;

	@media screen and (min-width: 768px) {
		padding: 0 30px;
	}
}

///////////////////////////////////////
// CSS VARIABLES
///////////////////////////////////////

:root {
	// COLORS
	--text: rgba(0, 0, 0, 1);
	// --bg: rgba(255, 255, 255, 1);
	--bg: #fff;
	// --bg-alt: rgba(250, 250, 250, 1);
	--bg-alt: #e4e1d7;
	// --accent: rgba(0, 122, 255, 1);
	--accent: #232635;

	// DARK MODE COLORS
	@media (prefers-color-scheme: dark) {
		--text: rgba(255, 255, 255, 1);
		// --bg: rgba(5, 5, 5, 1);
		--bg: #161825;
		// --bg-alt: rgba(40, 40, 40, 1);
		--bg-alt: #232635;
		// --accent: rgba(255, 0, 0, 1);
		--accent: #ca4b19;
	}

	// SWIPER
	// --swiper-theme-color: var(--accent) !important;
	// --swiper-theme-color: var(--text) !important;
	--swiper-theme-color: #fff !important;
	--swiper-navigation-size: 1.5em !important;

	@media screen and (min-width: 768px) {
		--swiper-navigation-size: 2.5em !important;
	}
}

///////////////////////////////////////
// HEADER
///////////////////////////////////////

.header {
	// .header-bg
	// &-bg {
	// 	// background-color: var(--bg);
	// 	// background-image: url(img/hero-768-min.jpg);
	// 	background-image: url(https://via.placeholder.com/768x288?text=Slide+1);
	// 	background-size: cover;
	// 	background-position: 50% 50%;
	// 	background-repeat: no-repeat;
	// 	min-height: 960px;
	// 	max-height: 100vh;

	// 	@media screen and (min-width: 769px) {
	// 		background-image: url(https://via.placeholder.com/1280x480?text=Slide+1);
	// 	}

	// 	@media screen and (min-width: 1281px) {
	// 		background-image: url(https://via.placeholder.com/1920x720?text=Slide+1);
	// 	}

	// 	@media screen and (min-width: 1921px) {
	// 		background-image: url(https://via.placeholder.com/2560x960?text=Slide+1);
	// 	}
	// }

	// .header-nav-wrapper
	&-nav-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0;
		text-transform: uppercase;

		// .header-nav-wrapper .logo
		.logo {
			width: 200px;
			height: 46px;

			svg,
			img {
				fill: var(--text);
				// fill: var(--bg);
			}
		}

		// .header-nav-wrapper .primary-nav-wrapper
		.primary-nav-wrapper {
			position: fixed;
			z-index: 99;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			transition: all 400ms;
			width: 100%;
			height: 100%;

			@media screen and (min-width: 768px) {
				position: relative;
				opacity: 1;
				visibility: visible;
				width: auto;
				height: auto;
			}

			&.open {
				visibility: visible;
				opacity: 1;
				background-color: rgba(0, 0, 0, 0.85);

				@media screen and (min-width: 768px) {
					background-color: transparent;
				}
			}
		}

		// .header-nav-wrapper nav
		nav {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			// padding-top: 5px;
			// padding-left: 30px;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				@media screen and (min-width: 768px) {
					display: inline-block;
					margin: 0;
					padding: 0;
				}

				li {
					font-size: 1rem;
					padding: 5px 30px 0;

					@media screen and (min-width: 768px) {
						padding: 5px 12px 0;
						display: inline-block;

						&:last-child {
							padding-right: 0;
						}
					}

					@media screen and (min-width: 960px) {
						// font-size: 1rem;
						padding: 5px 16px 0;
					}

					a {
						display: block;
						padding-bottom: 40px;
						// SHOULD ALWAYS BE WHITE ON MOBILE WITH DARK BG
						color: #fff;
						text-decoration: none;

						// DESKTOP
						@media screen and (min-width: 768px) {
							position: relative;
							padding-bottom: 5px;
							// transition: opacity 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
							transition: opacity 0.2s ease-in-out;
							// -webkit-tap-highlight-color: transparent;
							color: var(--text);
							// color: var(--bg);
						}

						&:hover {
							opacity: 1;

							&:before {
								visibility: visible;
								// transform: scaleX(1);
								max-width: 100%;
							}
						}

						// DESKTOP
						&:before {
							@media screen and (min-width: 768px) {
								content: "";
								position: absolute;
								bottom: 0;
								// left: 0;
								visibility: hidden;
								width: 100%;
								max-width: 0%;
								// height: 1px;
								height: 2px;
								transition: 0.2s ease-in-out;
								// transform: scaleX(0);
								background-color: var(--text);
								// background-color: var(--bg);
							}
						}
					}
				}
			}
		}

		.is-visible {
			visibility: visible;
			opacity: 1;
		}
	}
}

.nav-toggle {
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	padding: 10px 30px 10px 0px;
	cursor: pointer;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	.nav-text,
	.active .nav-text {
		transition: all 0s;
	}

	// BURGER
	.bar {
		// background-color: #fff;
		background-color: var(--text);
		// background-color: var(--bg);
		display: block;
		height: 1px;
		margin-top: 0;
		opacity: 1;
		position: absolute;
		right: 0;
		top: 50%;
		transform: rotate(0deg);
		transition: transform 164ms ease-in 0s, margin 164ms ease-out 164ms;
		width: 28px;
		z-index: 1;

		&:nth-child(1) {
			margin-top: -5px;
		}
		&:nth-child(2) {
			margin-top: 3px;
		}
	}

	&.active .bar {
		transition: margin 164ms ease-in, transform 164ms ease-out 164ms;

		&:nth-child(1) {
			background-color: #fff;
			margin-top: -1px;
			transform: rotate(45deg);
		}

		&:nth-child(2) {
			background-color: #fff;
			margin-top: -1px;
			transform: rotate(-45deg);
		}
	}
}

.navicon {
	position: absolute;
	right: 6px;
	opacity: 1;
	visibility: visible;
	width: 20px;
	height: 20px;

	// DESKTOP
	@media screen and (min-width: 768px) {
		opacity: 0;
		visibility: hidden;
	}

	&.fixed {
		right: 26px;
	}
}

.fixed {
	position: fixed;
	z-index: 999;
}

///////////////////////////////////////
// BREADCRUMBS
///////////////////////////////////////

nav.breadcrumb {
	padding: 20px 0;

	@media screen and (min-width: 768px) {
		padding: 30px 0;
	}

	ol {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}

	li {
		display: inline;
		letter-spacing: 3px;
		text-transform: uppercase;
	}

	li + li::before {
		display: inline-block;
		margin: 0 0.25em;
		transform: rotate(15deg);
		border-right: 0.1em solid currentColor;
		height: 0.8em;
		content: "";
	}

	[aria-current="page"] {
		font-weight: 700;
		text-decoration: none;
	}
}

///////////////////////////////////////
// PAGE HEADER
///////////////////////////////////////
.page-header {
	padding: 0 0 20px 0;

	@media screen and (min-width: 768px) {
		padding: 0 0 30px 0;
	}
}

///////////////////////////////////////
// SWIPER
///////////////////////////////////////
.swiper {
	&-slide {
		img {
			width: 100%;
			height: auto;
		}
	}

	// OVERRIDES
	.swiper-pagination-bullet {
		width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 16px));
		height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 16px));
		border-radius: 0;
		opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.5);

		&-active {
			opacity: var(--swiper-pagination-bullet-opacity, 1) !important;
		}
	}

	.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
	}

	// END OF OVERRIDES

	&-hero {
		.swiper-slide {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			// min-height: 640px;
		}

		.bg-img1 {
			// background-image: url(img/pexels-peter-olexa-3875821.jpeg);
			background-image: url(https://images.pexels.com/photos/3875821/pexels-photo-3875821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
		}
		.bg-img2 {
			// background-image: url(img/pexels-photo-3201920.jpeg);
			background-image: url(https://images.pexels.com/photos/3201920/pexels-photo-3201920.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260%202520w);
		}
		.bg-img3 {
			// background-image: url(img/pexels-hobi-industri-4053267.jpeg);
			background-image: url(https://images.pexels.com/photos/4053267/pexels-photo-4053267.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
		}
		.bg-img4 {
			// background-image: url(img/pexels-photo-7244563.jpeg);
			background-image: url(https://images.pexels.com/photos/7244563/pexels-photo-7244563.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260%202520w);
		}
		.bg-img5 {
			// background-image: url(img/pexels-photo-5461555.jpeg);
			background-image: url(https://images.pexels.com/photos/5461555/pexels-photo-5461555.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
		}
	}
}

///////////////////////////////////////
// INTRO
///////////////////////////////////////

.intro {
	&-wrapper {
		padding: 6rem 0;
	}

	&-flex {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media screen and (min-width: 1024px) {
			flex-direction: row;
			justify-content: flex-end;
		}

		&-content {
			max-width: 640px;
			margin: 0 auto;

			@media screen and (min-width: 1024px) {
				flex: 1;
			}
		}
	}

	h1 {
		font-size: 1.2rem;
		font-weight: 500;
		line-height: 1.6;
		margin-bottom: 1rem;
	}

	a {
		font-weight: bold;
	}
}

///////////////////////////////////////
// TRUSTED BY
///////////////////////////////////////
.trusted-by {
	&-wrapper {
		padding: 80px 0;

		.swiper-trusted-by {
			margin-top: 4rem;
		}
	}
}

.swiper-trusted-by > .swiper-wrapper {
	transition-timing-function: linear;
	align-items: center;
}

///////////////////////////////////////
// FOOTER
///////////////////////////////////////

.footer {
	padding: 40px 0;

	@media screen and (min-width: 768px) {
		padding: 60px 0;
	}

	&-social-links {
		list-style: none;
		margin: 0;
		padding: 20px 0;
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			padding: 0 15px;

			a {
				fill: var(--text);
				transition: all 0.3s;

				&:hover,
				&:focus {
					fill: var(--accent);
				}

				svg {
					width: 22px;
				}
			}
		}
	}

	&-links {
		list-style: none;
		margin: 0;
		padding: 25px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		li {
			padding: 10px;
			font-size: 0.75rem;

			@media screen and (min-width: 768px) {
				font-size: 0.85rem;
			}
		}
	}

	&-copyright {
		padding: 20px 0;
		font-size: 0.75rem;

		@media screen and (min-width: 768px) {
			font-size: 0.85rem;
		}
	}
}

// DEBUG
// * {
// 	outline: 1px solid red;
// }
